@model Account
@{
    ViewData["Title"] = "SignUp";
    Layout = "~/Views/Shared/_SignUp.cshtml";
}

<div class="page-wrapper bg-gra-02 p-t-130 p-b-100 font-poppins">
    <div class="wrapper wrapper--w680">
        <div class="card card-4">
            <div class="card-body">
                <h2 class="title">Registration Form</h2>
                <form method="POST">
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Username</label>
                                @Html.TextBoxFor(
                                    m => m.Username,
                                    new
                                    {
                                        @class = "input--style-4",
                                        value = "Username"
                                    }
                                )
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Fullname</label>
                                @Html.TextBoxFor(
                                    m => m.Fullname,
                                    new
                                    {
                                        @class = "input--style-4",
                                        value = "Fullname"
                                    }
                                )
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Password</label>
                                @Html.PasswordFor(
                                    m => m.Password,
                                    new
                                    {
                                        @class = "input--style-4",
                                    }
                                )
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Avatar</label>
                                <input type="file" id="myFile" name="filename" asp-for="Avatar">
                            </div>
                        </div>
                    </div>
                    <div class="row row-space">
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Confirm Password</label>
                                @Html.PasswordFor(
                                    m => m.ConfirmPassword,
                                    new
                                    {
                                        @class = "input--style-4",
                                    }
                                )
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="input-group">
                                <label class="label">Email</label>
                                @Html.TextBoxFor(
                                    m => m.Email,
                                    new
                                    {
                                        @class = "input--style-4",
                                        value = "Email"
                                    }
                                )

                            </div>
                        </div>
                    </div>

                    <div style="height: 80px; color: red; font-weight: bold; font-size:12px;">
                        <div class="row row-space">
                            <div class="col-2">
                                <span asp-validation-for="Username"></span>
                            </div>
                            <div class="col-2">
                                <span asp-validation-for="Fullname"></span>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <span asp-validation-for="Password"></span>
                            </div>
                            <div class="col-2">
                                <span asp-validation-for="Avatar"></span>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-2">
                                <span asp-validation-for="ConfirmPassword"></span>
                            </div>
                            <div class="col-2">
                                <span asp-validation-for="Email"></span>
                            </div>
                        </div>
                        <div class="row row-space">
                            <div class="col-4"> @ViewBag.Msg</div>
                        </div>
                    </div>

                    <div class="p-t-15">
                        <button class="btn btn--radius-2 btn--blue" type="submit"> Submit </button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

